{% extends 'base.html' %}
{% load static %}

{% block contentTitle %}
    Add Patients
{% endblock contentTitle %}

{% block content %}
<style>.patient-form .form-field{
    position: relative;
    margin: 32px 0;
}

.patient-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.patient-form .input-text:focus{
    outline: none;
}

.patient-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    cursor: text;
    transition: all 0.4s;
}

.patient-form .submit-btn{
    display: inline-block;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.patient-form .input-text:focus + .label,
.patient-form .input-text.not-empty + .label{
    transform: translateY(-24px);
    font-size: 2px;
}</style>
<body style=" background-image: url('https://images.unsplash.com/photo-1597440658768-f3ffdf64223c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGhvc3BpdGFsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
background-size: cover;
background-repeat:  no-repeat;
font-family: 'Special Elite', cursive;">


    <form action="" method="post">
    {% csrf_token %}
        
        <div class="container">
            <div class="patient-form ">
                <div class="row">
                    <div class="form-field col-md-6">
                        <input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name">
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="phone_num" class="input-text" type="text" name="phone_num" placeholder="Phone no.">
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="patient_relative_name" class="input-text" type="text" name="patient_relative_name" placeholder="Relative's name">
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="patient_relative_contact" class="input-text" type="text" name="patient_relative_contact" placeholder="Relative's contact">
                    </div>

                    <div class="form-field col-md-12">
                        <input type="text" id="patient_relative_contact" class="input-text" type="text" name="address" placeholder="Address">
                    </div>

                    <div class="form-field col-md-6" style="padding-bottom: 4px;">
                        <input type="text" id="prior_ailments" class="form-control input-text mb-0 p-0 " style="outline:none" type="text" name="prior_ailments" placeholder="Prior ailments if any, eg: Diabetes, Thyroid">
                    </div>

                    <div class="form-field col-md-4 offset-md-2 mb-4 mx-auto">
                       <h4>Enter bed no and Date:</h4> 
                    <select name="bed_num" class="btn btn-bed" id="bed_num">
                    {% for bed in beds %}
                        <option value={{ bed }}>{{ bed }}</option>
                    {% endfor %}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-field col-md-6">
                   
                    <input type="date" id="dob" class="input-text" type="date" name="dob">
                </div>
                <div class="form-field col-md-6">
                    <h3>Status:</h3>
                    <select class="input-text"  name="status" id="status">
                        <option class="bg-dark text-white" value="Critical">Critical</option>
                        <option class="bg-dark text-white" value="Recovering">Recovering</option>
                        <option class="bg-dark text-white" value="Recovered">Recovered</option>
                        <option class="bg-dark text-white" value="Deceased">Deceased</option>
                    </select>
                </div>
                
                <div class="form-field col-md-6">
                    <h3>Doctor's Name:</h3>
                    <select class="input-text"  name="doctor" id="doctor">
                        {% for doctor in doctors %}
                            <option class="" value="{{doctor}}">{{doctor}}</option>
                        {% endfor %}
                    </select>
                </div>


            </div>

{{doctor}}
            <div class="patient-form row d-flex">
                <div class="symptoms row">
                <div class="symptoms-label col-12 text-center mt-0"><h1>Symptoms</h1></div><br><br>
            
                    <div class="common-symptoms col-md-4">
                       <h3><label for="" class="symptom-type">Common</label></h3><br>

                        <div class="symptom">
                        <input type="checkbox" name="symptoms" id="fever" value="Fever" class="checkbox">
                        <label for="fever">Cough</label>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Dry Cough" id="dry_cough">
                        <label for="">Feeling tired</label><br>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Tiredness" id="tiredness">
                        <label for="">slight fever</label><br>
                        </div>
                    </div>
                
                    <div class="less-common-symptoms col-md-4">
                    <div>
                        <h3><label for="" class="symptom-type">Less Common</label></h3><br>
                        
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Aches and pains" id="aches_and_pain">
                        <label for="">body aches</label><br>
                        </div>
        
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Sore Throat" id="sore_throat">
                        <label for="">loss of test and smell</label><br>
                        </div>

                        <div class="symptom">
                        <input type="checkbox" name="symptoms" valu="Diarrhoea" id="diarrhoea">
                        <label for="">Diarrhoea</label><br>
                        </div>

                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Loss of taste or smell" id="loss_of_taste_or_smell">
                        <label for="">Throat pain</label><br>
                        </div>
                    </div>
                    </div>
                    
                    <div class="serious-symptoms col-md-4">
                        <h3><label for="" class="symptom-type">Serious</label></h3><br>
        
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Difficulty in breathing or shortness of breath" id="difficulty_in_breathing_or_shortness_of_breath">
                        <label for="">Chest pains</label><br>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Chest pain or pressure" id="chest_pain_or_pressure">
                        <label for="">Loss of speech or movement</label><br>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Loss Of Speech Or Movement" id="loss_of_speech_or_movement">
                        <label for="">Difficulty in breathing or shortness of breath</label><br>
                        </div>
                    </div>  
            </div>
            </div>
            
        </div>

        </div>
        </div>
    </div>
    <div style="margin-left: 450px;">
        <button class="btn col-lg-4 btn-block mx-auto btn-success mb-4" >Add Patient</button>
    </div>
    </form>
</body>
{% endblock content %}
